body{
    background-image: url('https://e0.pxfuel.com/wallpapers/119/436/desktop-wallpaper-black-background-pics.jpg');
    background-size: cover;
    color: white;
    
}
.profilepic{
    border-radius: 100%;
    width: 200px;
    
}
#home{
    text-align: center;
    padding-top: 100px;
}
.navbar{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
}
.navbar a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#about p{
    font-size: 25px;
}
#about h2{
    text-align: center;
    padding: 50px;
    text-decoration: underline;
}
#skills h2{
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
}
.skillcontainer{
    background-color: white;
    display: flex;

}
.html{
    width: 200px;
}
.css{
    width: 200px;
}
.js{
    width: 200px;
}
.java{
    width: 200px;
}
.c{
    width: 200px;
}
.sql{
    width: 200px;
    padding-top: 20px;
}
#education h2{
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
}
.educationcontainer{
    background-color: white;
    color: black;
    text-align: center;
}
#contact h2{
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
}
.label{
    background-color: white;
    text-decoration: none;
    padding-top: 50px;
    text-align: center;
    text-shadow: 40px;
    font-weight: bold;
    color: black;
    padding-bottom: 50px;
}
.ret1 iframe{
    width: 100%;
    height: 450px;
}
