.name{
    color: red;
}
.button{
    background-color: blueviolet;
    padding: 20px;
    margin: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: aliceblue;
    transition: 1s;
}
.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    background-color: azure;
}
h3{
    color: white;
}
